<div class="page-width page-width-full grid grid--gapless grid--2-col-tablet grid--1-col">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'image' -%}
        <div class="grid__item section-hero--image">
          <img
            src="{{ block.settings.image.src | image_url: width: 700 }}"
            width="{{ block.settings.image.width }}"
            height="{{ block.settings.image.height }}"
            alt="{{ block.settings.image.alt }}"
          >
        </div>

      {%- when 'content' -%}
        <div
          class="grid__item section-hero--content"
          style="background-color: var(--color-{{ section.settings.color }});"
        >
          <div class="titles">
            <div class="subtitle">{{ block.settings.subtitle }}</div>
            <h2 class="headline">{{ block.settings.headline }}</h2>
          </div>

          <div class="description">{{ block.settings.description }}</div>
        </div>
    {% endcase %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section section-hero",
  "settings": [
    {
      "type": "select",
      "id": "color",
      "label": "Color",
      "options": [
        {
          "value": "violet",
          "label": "Violet"
        },
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "blue",
          "label": "Blue"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "red",
          "label": "Red"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "richtext",
          "id": "headline",
          "label": "Headline"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "blocks": []
    }
  ]
}
{% endschema %}
