<div class="page-width page-width-full page-width-bleed">
  <div class="grid grid--gapless grid--1-col grid--2-col-tablet">
    <div class="grid__item content">
      <div class="heading">{{ section.settings.heading }}</div>
      <div class="subheading">{{ section.settings.subheading }}</div>

      <div class="products">
        <div class="grid grid--3-col">
          {% for block in section.blocks %}
            <div class="grid__item">
              <a href="{{ block.settings.product.url }}" class="product">
                <div class="media media--portrait">
                  <img src="{{ block.settings.product.featured_image | image_url: width: 150 }}">
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <a href="{{ section.settings.url }}" class="link">SHOP NOW</a>
    </div>

    <div class="grid__item image">
      <img src="{{ section.settings.image.src | image_url: width: 500 }}">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Compilation",
  "class": "section-product-compilation",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Sub-Heading"
    },
    {
      "type": "url",
      "id": "url",
      "label": "URL"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Compilation"
    }
  ]
}
{% endschema %}
